body {
    background:
  rgb(245, 245, 245);
    font-family: Arial;
    max-width: 300px;
    margin:
  0px auto;
    padding:
  20px;
    font-size: x-large;
  }
.down {
    margin-top: 100%;
}

.dott {
    margin:-170px;
}
  .active {
    background:
  rgb(0, 128, 128);
    color: white;
    border-radius:
  15px;
  }

  .h2 {
    text-align: center;
    color: rgb(35, 47, 62);
  }
  .h2:hover{
    cursor: default;
  }
  .tab:hover {
    color: rgb(255, 153, 0);
    transition: 0.3s;
  }
  input {
    width: 100%;
    padding: 8px;
    margin: 8px 0px;
    box-sizing: border-box;
    border-radius:4px;
    border: 1px solid rgb(204, 204, 204); 
  }
  .my-btn {
    background: rgb(255, 153, 0);
    border-radius:10px;
    cursor: pointer;
    color: white;
    padding: 10px;
     border: none;
      width: 100%;
  }
.my-btn:hover{
      background: rgb(188, 194, 26);
      transition: 0.3s;
      color: black;
} 


  .tab { 
    padding: 10px;
     cursor: pointer; 
  }
  #loginForm, #signupForm {
     display: none; 
     padding:30px;
    }
  #loginForm.active, #signupForm.active {
     display: block;
     }

