@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
body{
    padding: 0;
    margin: 0;
    background-color: #c0a9a9;
    overflow-x: hidden;
}
.nav{
    grid-template-columns: repeat(3, 1fr);
    color: #333;
    background-color: #388e3c;
    font-family: "Exo 2", sans-serif;
    font-weight: 700;
    margin: 0;
    margin-bottom: 30px;
    height: 70px;
    align-items: center;
    grid-template-areas: ". title .";
    top: 0;
    z-index: 1000;
}

.nav{
  display: flex;
  color: #333;
  background-color: #388e3c;
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
  margin: 0;
  height: 70px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  top: 0;
  z-index: 1000;
}
.search{
  width: 50%;
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  padding: 10px;
  border-radius: 30px;
  margin: 0 140px;
  transition: box-shadow 0.3s;
}
.search:focus-within{
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.search img{
  width: 30px;
}
.search-input{
  font-size: 18px;
  font-family: "Exo 2", sans-serif;
  margin-left:10px ;
  border: none;
  outline: none;
  background-color: transparent;
  flex: 1;
}
.search-input::placeholder{
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  font-family: "Exo 2", sans-serif;
}

h1 {
  margin: 0 20px; 
}
  .big{
      background-color: #388e3c;
      margin-bottom: 0;
  }
  .small{
      background-color: #256728;
  height: 40px;
  top: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
  }
  .small a{
      color: rgb(27, 27, 44);
      text-decoration: none;
  }
  .small a:hover{
      color: #00bcd4;
      cursor: pointer;
      font-size: 30px;
      transition: color 0.3s;
  }
.home-button {
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2;
  margin-left: 10px;
  margin-right: 10px;
  

}

.home-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: filter 0.3s;

}

.home-button:hover .home-icon, .home-button:active .home-icon {
  filter: brightness(0) saturate(100%) invert(70%) sepia(22%) saturate(477%) hue-rotate(172deg) brightness(93%) contrast(90%);
}

.cart-button {
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2;
  margin-left: 10px;
  margin-right: 10px;
}

.cart-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: filter 0.3s;
}

.cart-button:hover .cart-icon, .cart-button:active .cart-icon {
  filter: brightness(0) saturate(100%) invert(70%) sepia(22%) saturate(477%) hue-rotate(172deg) brightness(93%) contrast(90%);
}


.cont{
  margin: 0 50px;
  padding-bottom: 10px;
}
.carry{
    display: grid;
    padding: 10px;
    text-align: center;
    gap: 0 10%;
    padding-bottom: 10px;
    align-items: start;
}

.product{
    width: 140px;
    box-shadow: none;
    display: grid;
    flex: 0 0 auto;
    padding: 20px;
    margin-top: 30px;
    border-radius: 13px;
    border: #a7a2a2 1px ridge;
    background-color:#fff;
}
.product button {
  background: #FFD814;
  border: 1px solid #FCD200;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  margin: 0;
  margin-top: 10px;
  transition: 0.5s;}
.product:hover {
  transform: translateY(-5px) translateX(-5px);
  box-shadow: #333 5px 5px 15px;
  border-radius: 13px;
}
.product button:hover{
  background-color: #ff9d14;
  border: 1px solid #c77708;
}
.primg{
  text-align: center;
}   
.primg img{
  width: auto;
  height: 125px;
  align-self: center;
}
.name{
  max-width: 150px;
  height: 60px;
  margin: 0;
}
.name h3{
  margin: 0;
  font-weight: bold;
}
.price{
  height: 60px;
  width: 100%;
}
.price button{
  align-items: center;
  width: 100%;
 }
.price h3{
  color: royalblue;
  margin: 0;
  font-weight: 900;
  text-align: right;
  font-style: italic;
  font-size: 23px;
}

                  
@media (max-width: 5000px) {
  .carry {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1080px) {
  .carry {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 730px) {
  .carry {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .carry {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 600px) {
  .small {
    font-size: 15px;
  }
  .small a {
    font-size: 15px;
  }
}
@media (max-width: 920px) {
  .search{
      margin: 0 20px;
  }
}
@media(max-width: 660px) {
  .search-input{
      width: 60px;
      font-size: 13px;
  }
  .home-icon{
      width: 30px;
      height: 30px;
  }
  .cart-icon{
      width: 40px;
      height: 40px;
  }
  .nav{
      gap: 10px;
  }
    .small {
        gap: 15px;
        }
}