.back-button {
  position: absolute;
  top: -60px;
  left: 30px;
  background-color: #388e3c;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 30px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  transition: color 0.3s;
  z-index: 1;
}

.back-button:hover span, .back-button:active span {
  color: #00BCD4;
}

.home-button {
  position: absolute;
  top: -60px;
  left: 100px; 
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.home-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: filter 0.3s;

}

.home-button:hover .home-icon, .home-button:active .home-icon {
  filter: brightness(0) saturate(100%) invert(70%) sepia(22%) saturate(477%) hue-rotate(172deg) brightness(93%) contrast(90%);
}

.cart-button {
  position: absolute;
  top: -60px;
  left: 170px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.cart-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: filter 0.3s;
}

.cart-button:hover .cart-icon, .cart-button:active .cart-icon {
  filter: brightness(0) saturate(100%) invert(70%) sepia(22%) saturate(477%) hue-rotate(172deg) brightness(93%) contrast(90%);
}